.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

h1 {
  font-size: 32px;
  text-align: center;
}

img {
  width: 20px;
  height: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;
}

form button {
  border-radius: 30px;
  background-color: #4CAF50;
  color: #ffffff;
  height: 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

form input {
  border: 1px solid #cccccc;
  border-radius: 30px;
  height: 40px;
  background-color: #f9f9f9;
  color: #333333;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;
}

.card.completed {
  background-color: #e0ffe0;
  opacity: 0.8;
}

.card p {
  color: #333333;
  font-weight: normal;
  margin: 0;
}

.card span {
  font-size: 20px;
  font-weight: bold;
}

.card button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.card button:hover {
  opacity: 0.5;
}

.complete-checkbox {
  margin-right: 10px;
}

.card > div {
  flex-grow: 1;
  padding-right: 10px;
}
